*{margin:0;padding:0;}
body{color:#333;font-size:12px;font-family:"宋体";background:#f2f2f2;}

h1,h2,h3,h4,h5,h6{font-size:100%; font-weight:normal;}

#wrapper{
	width: 100%;
	height: auto;
	overflow: hidden;
}


.notice{
	color: #fff;
	height: 1000px;
	padding-left: 30px;
	background-color: #DA251A;
	background-image: -webkit-gradient(linear,0,0, 0 100%, color-stop(0, #EE3024), color-stop(0.05, #DA251A), color-stop(1, #AA0D04));
}